body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#06567E;
    height:100vh;
}

h1 {
  color: #F67280;
  font-size: 35px;
}

table {
  width: 100%;
  min-width: 325px;
  font-family: "arial";
  table-layout: fixed;
  background-color:rgba(0,0,0,.2);
  color: white;
  font-size: 14px;
  font-weight: 900;
  text-align: right;
}
th{
  width: 100%;
  padding: .2rem;
}
tr{
  width: 100%;
}
td {
  padding: .2rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}
.playerCardContainer {
  display: flex;
  justify-content: space-evenly;
  width:80%;
  height: 100%;
}

.playingCard {
  width: 200px;
  height: 270px;
  border-radius: 25px;
}
.playingCardSelected {
  width: 192px;
  height: 262px;
  border-radius: 25px;
}

.gameButton{
  background-color:#F67280;
  color: white;
  width: 225px;
  height: 60px;
  font-size: 24px;
  border: white 4px solid;
  border-radius: 20px;
  outline: none;
}

.acctContainer {
  border: #F67280 2px solid;
  border-radius: 20px;
  height: 100%;
  margin: 0 1.5rem 0 1.5rem;
}
.infoContainer {
  color: white;
  padding: 1rem;
  padding-top: 0;
}

.gameInfoBtn {
  color: white;
  background-color: transparent;
  width: 70%;
  height: 30px;
  border: 2px solid #F67280;  
  border-radius: 20px;
  margin-bottom: 1rem;
}


@media only screen 
  and (min-width: 200px) 
  and (max-width: 644px) {
    .appContainer{
      height: 100%;
    }
    .playingCard{
      width: 45px;
      height: 100px;
      border-radius: 10px;
    }
    .playingCardSelected {
      width: 33px;
      height: 92px;
      border-radius: 10px;
    }
    table {
      font-size: 9px;
    }
    .gameButton {
      width: 100px;
      height: 50px;
      border-radius: 10px;
      margin-bottom: 8rem;
      margin-left: .5rem;
      margin-right: .5rem;
      font-size: 11px;
    }
    .playerCardContainer{
      width: 100%;
    }

    .acctContainer {
      width: 100%;
      margin: 0;
      margin-top: 1.5rem;
    }

    h2 {
      font-size: 22px;
      margin-bottom: 0;
    }

    h3{
      font-size: 12px;
    }
    
  }

  @media only screen 
  and (min-width: 645px) 
  and (max-width: 1035px) {
    .appContainer{
      height: 100vh;
    }
    .playingCard{
      width: 100px;
      height: 175px;
      border-radius: 10px;
    }
    .playingCardSelected {
      width: 92px;
      height: 167px;
      border-radius: 10px;
    }
    table {
      font-size: 9px;
    }
    .gameButton {
      width: 100px;
      height: 50px;
      border-radius: 10px;
      margin-bottom: 4rem;
      margin-left: .5rem;
      margin-right: .5rem;
      font-size: 15px;
    }
    .playerCardContainer{
      width: 100%;
    }

    .acctContainer {
      width: 100%;
      margin: 0;
      margin-left: 1.5rem;
    }

    h2 {
      font-size: 22px;
      margin-bottom: 0;
    }

    h3{
      font-size: 12px;
    }
    
  }

  @media only screen 
  and (min-width: 1036px) 
  and (max-width: 1645px) {
    .appContainer{
      height: 100vh;
    }
    .playingCard{
      width: 175px;
      height: 250px;
      border-radius: 10px;
    }
    .playingCardSelected {
      width: 167px;
      height: 242px;
      border-radius: 10px;
    }
    table {
      font-size: 9px;
    }
    .gameButton {
      width: 200px;
      height: 50px;
      border-radius: 10px;
      margin-bottom: 4rem;
      margin-left: .5rem;
      margin-right: .5rem;
      font-size: 15px;
    }
    .playerCardContainer{
      width: 100%;
    }

    .acctContainer {
      width: 100%;
      margin: 0;
      margin-left: 1.5rem;
    }

    h2 {
      font-size: 22px;
      margin-bottom: 0;
    }

    h3{
      font-size: 12px;
    }
    
  }